@page "/archive"
@using Models
@using Business.Repository.IRepository
@using Radzen.Blazor
@using Radzen
@using Telerik
@using Telerik.Blazor.Components
@inject IArchivalItemRepository ArchivalRepository
@inject IProvenanceRecordRepository ProvenanceRepository
@inject IProvidenceRepository ProvidenceRepository
@inject IKeywordTagRepository KeywordTagRepository
@inject IKeywordTagGroupRepository KeywordTagGroupRepository
@inject MuseumArchivalAppServer.Areas.StoredModel.StoredItems stored
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<div class=" row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Archive</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="archive/create" class="btn btn-info form-control">Add New Item</NavLink>
    </div>
</div>


<RadzenDropDown @bind-Value=@keywordNamesFilterList Data=@keywordsForFilter Multiple=true AllowClear=true Placeholder="Filter Table" Chips=true Style="width: 100%; max-width: 400px;" Change="changeFilter" />
<RadzenTextBox @bind-Value=@TableSearch  Placeholder="Filter Table" Style="width: 100%; max-width: 400px;" Change="changeFilter" /> 
<RadzenButton type="button" class="btn btn-primary" Click="changeFilterText">Filter Table</RadzenButton>
<div class="row mt-4">
    <div class="col-12">
        <RadzenDataGrid @ref="radzenArchivalItemGrid" AllowSorting="true" AllowFiltering="true" FilterMode="Radzen.FilterMode.Simple"
                        Data="@ArchivalItems" TItem="ArchivalItemDTO" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                        LogicalFilterOperator="Radzen.LogicalFilterOperator.Or" AllowPaging="true" PageSize="5" AllowColumnResize="true">
            <Columns>
                <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Title="Image"
                                      Width="250px" Filterable="false">
                    <Template>
                        @if (data.ArchivalItemImage != null)
                        {
                            //getUnitImage(data.UnitId);
                            archivalImage = "data:image/jpg;base64, " + Convert.ToBase64String(data.ArchivalItemImage);
                        }
                        <RadzenImage Path="@archivalImage" style="width: 80px; height: 80px; border-radius: 8px;"></RadzenImage>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Property="UnitName" Title="Name" Filterable="false">
                    <Template>
                        @data.ArchivalItemName
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Property="UnitDescription" Title="Brief Description" Filterable="false">
                    <Template>
                        @data.ArchivalItemShortDescription
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Property="UnitDescription" Title="Creation Date" Filterable="false">
                    <Template>
                        @data.ArchivalItemCreationDate
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Title="Action">
                    <Template>
                        <RadzenLink href="javascript:void(0)" Icon="ads_click" Style="text-decoration: none; color: #416FE9; font-size: 2em;" @onclick="@(e => SelectArchivalItem(data.Id))"></RadzenLink>
                        <RadzenLink href="@($"report/{data.Id}")" Icon="description" Style="text-decoration: none; color: #416FE9; font-size: 2em;"></RadzenLink>
                        <RadzenLink href="@($"archive/edit/{data.Id}")" Icon="edit" Style="text-decoration: none; color: #416FE9; font-size: 2em;"></RadzenLink>
                        <RadzenLink href="javascript:void(0)" Icon="delete" Style="text-decoration: none; color: #416FE9; font-size: 2em;" @onclick="@(e => HandleDelete(data.Id))"></RadzenLink>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
    @if (isArchivalItemSelected == true)
    {
        <br />
        <br />
        <div class="col-8">
            <h1 class="card-title text-info">@ArchivalItemName</h1>
            @*<h4 class="card-title text-info">Reference: @ArchivalItemReference</h4>*@
        </div>
        <br />
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Provenance">
                    @if (isProvenanceCreated == true)
                    {
                    <h2 class="card-title text-info">@CreatedProvidence.ProvidenceName</h2>
                        <div class=" row mt-4">
                            <div class="col-8">

                                <h4 class="card-title text-info">Provenance Records</h4>
                            </div>
                            <div class="col-3 offset-1">
                                <NavLink href="provenanceRecord/create" class="btn btn-info form-control">Add New Provenance Record</NavLink>
                            </div>
                        </div>
                        <RadzenDataGrid @ref="radzenProvidenceGrid" AllowSorting="true" AllowFiltering="false" FilterMode="Radzen.FilterMode.Simple"
                                        Data="@FilteredProvenanceRecords" TItem="ProvenanceRecordDTO" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="Radzen.LogicalFilterOperator.Or" AllowPaging="true" PageSize="5" AllowColumnResize="true">
                            <Columns>
                                <RadzenDataGridColumn TItem="ProvenanceRecordDTO" Context="data" Title="Image"
                                                      Width="250px" Filterable="false">
                                    <Template>
                                        @if (data.ProvenanceRecordImage != null)
                                        {
                                            //getUnitImage(data.UnitId);
                                            providenceImage = "data:image/jpg;base64, " + Convert.ToBase64String(data.ProvenanceRecordImage);
                                        }
                                        <RadzenImage Path="@providenceImage" style="width: 80px; height: 80px; border-radius: 8px;"></RadzenImage>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ProvenanceRecordDTO" Context="data" Title="Name" Filterable="false">
                                    <Template>
                                        @data.ProvenanceName
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ProvenanceRecordDTO" Context="data" Property="DateOfPurchase" Title="Date of Purchase" Filterable="false">
                                    <Template>
                                        @data.ProvenanceDateOfPurchase.Date
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ProvenanceRecordDTO" Context="data" Property="PurchaseValue" Title="Purchase Value" Filterable="false">
                                    <Template>
                                        @data.PurchaseValue
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ProvenanceRecordDTO" Context="data" Title="Action">
                                    <Template>
                                        @*<RadzenLink href="javascript:void(0)" Icon="ads_click" Style="text-decoration: none; color: #416FE9; font-size: 2em;" @onclick="@(e => SelectUnit(data.UnitId))"></RadzenLink>*@
                                        <RadzenLink href="@($"provenanceRecord/edit/{data.Id}")" Icon="edit" Style="text-decoration: none; color: #416FE9; font-size: 2em;"></RadzenLink>
                                        <RadzenLink href="javascript:void(0)" Icon="delete" Style="text-decoration: none; color: #416FE9; font-size: 2em;" @onclick="@(e => HandleProvidenceDelete(data.Id))"></RadzenLink>
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    }
                    else
                    {
                        <div class="row mt-2 mb-5">
                            <h3 class="card-title text-info mb-3 ml-3">@Title Provenance</h3>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <EditForm Model="ProvidenceModel" OnValidSubmit="ProvidenceHandlerUpsert">
                                            <DataAnnotationsValidator />
                                            <ValidationSummary />
                                            <div class="form-group">
                                                <label>Name</label>
                                                <InputText @bind-Value="ProvidenceModel.ProvidenceName" class="form-control"></InputText>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary">@Title Provenance</button>
                                            </div>
                                        </EditForm>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </RadzenTabsItem>
                <RadzenTabsItem Text="Similar Items">
                    <div class=" row mt-4">
                        <div class="col-8">
                            <h4 class="card-title text-info">Similar Items</h4>
                        </div>
                    </div>
                    <RadzenDataGrid @ref="radzenSimilarArchivalItemGrid" AllowSorting="true" AllowFiltering="false" FilterMode="Radzen.FilterMode.Simple"
                                    Data="@SimilarArchivalItems" TItem="ArchivalItemDTO" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                                    LogicalFilterOperator="Radzen.LogicalFilterOperator.Or" AllowPaging="true" PageSize="5" AllowColumnResize="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Title="Image"
                                                  Width="250px" Filterable="false">
                                <Template>
                                    @if (data.ArchivalItemImage != null)
                                    {
                                        //getUnitImage(data.UnitId);
                                        archivalImage = "data:image/jpg;base64, " + Convert.ToBase64String(data.ArchivalItemImage);
                                    }
                                    <RadzenImage Path="@archivalImage" style="width: 80px; height: 80px; border-radius: 8px;"></RadzenImage>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Property="UnitName" Title="Name"
                                                  Width="250px" Filterable="false">
                                <Template>
                                    @data.ArchivalItemName
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Property="UnitDescription" Title="Brief Description" Filterable="false">
                                <Template>
                                    @data.ArchivalItemShortDescription
                                </Template>
                            </RadzenDataGridColumn>
                            @*<RadzenDataGridColumn TItem="ArchivalItemDTO" Context="data" Title="Action">
                                    <Template>
                                        <RadzenLink href="javascript:void(0)" Icon="ads_click" Style="text-decoration: none; color: #416FE9; font-size: 2em;" @onclick="@(e => SelectArchivalItem(data.Id))"></RadzenLink>
                                        <RadzenLink href="@($"report/{data.Id}")" Icon="description" Style="text-decoration: none; color: #416FE9; font-size: 2em;"></RadzenLink>
                                        <RadzenLink href="@($"archive/edit/{data.Id}")" Icon="edit" Style="text-decoration: none; color: #416FE9; font-size: 2em;"></RadzenLink>
                                        <RadzenLink href="javascript:void(0)" Icon="delete" Style="text-decoration: none; color: #416FE9; font-size: 2em;" @onclick="@(e => HandleDelete(data.Id))"></RadzenLink>
                                    </Template>
                                </RadzenDataGridColumn>*@
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    }

</div>
@code {
    private IEnumerable<ArchivalItemDTO> ArchivalItems { get; set; } = new List<ArchivalItemDTO>();
    private IEnumerable<ArchivalItemDTO> AllArchivalItems { get; set; } = new List<ArchivalItemDTO>();
    private List<ArchivalItemDTO> FilteredArchivalItems { get; set; } = new List<ArchivalItemDTO>();
    private List<ArchivalItemDTO> SimilarArchivalItems { get; set; } = new List<ArchivalItemDTO>();
    private ProvidenceDTO ProvidenceModel { get; set; } = new ProvidenceDTO();
    ArchivalItemDTO tempArchivalItem;
    ArchivalItemDTO SelectedArchivalItem;
    ProvidenceDTO CreatedProvidence;
    private string DeleteID { get; set; } = null;
    string archivalImage = "";
    string ArchivalItemID = "";
    string ArchivalItemName = "";
    string ArchivalItemReference = "";
    string providenceImage = "";
    bool isArchivalItemSelected = false;
    bool isProvenanceCreated = false;
    private IEnumerable<KeywordTagDTO> KeywordTags { get; set; } = new List<KeywordTagDTO>();
    private IEnumerable<ProvidenceDTO> Providences{ get; set; } = new List<ProvidenceDTO>();
    private IEnumerable<ProvenanceRecordDTO> FilteredProvenanceRecords { get; set; } = new List<ProvenanceRecordDTO>();
    private IEnumerable<KeywordTagGroupDTO> TempKeywordTagGroups { get; set; } = new List<KeywordTagGroupDTO>();
    private IEnumerable<KeywordTagGroupDTO> KeywordTagGroups { get; set; } = new List<KeywordTagGroupDTO>();
    private IEnumerable<KeywordTagGroupDTO> FilteredKeywordTagGroups { get; set; } = new List<KeywordTagGroupDTO>();
    List<string> keywordNames = new List<string>();
    List<string> keywordgroupIds = new List<string>();
    List<string> keywordsForFilter = new List<string>();
    List<string> keywordNamesFilterList = new List<string>();
    RadzenDataGrid<ArchivalItemDTO> radzenArchivalItemGrid;
    RadzenDataGrid<ArchivalItemDTO> radzenSimilarArchivalItemGrid;
    RadzenDataGrid<ProvenanceRecordDTO> radzenProvidenceGrid;
    string Title = "Create";
    string TableSearch = "";

    protected override async Task OnInitializedAsync()
    {
        ArchivalItems = await ArchivalRepository.GetAllArchivalItems();
        AllArchivalItems = ArchivalItems;
        KeywordTagGroups = await KeywordTagGroupRepository.GetAllKeywordTagGroups();
        KeywordTags = await KeywordTagRepository.GetAllKeywordTags();
        foreach (var keyword in KeywordTags)
        {
            if (!keywordsForFilter.Contains(keyword.keywordTagName))
            {
                keywordsForFilter.Add(keyword.keywordTagName);
            }
        }
    }

    public async void SelectArchivalItem(string archvialItemID)
    {
        isArchivalItemSelected = false;
        isProvenanceCreated = false;
        StateHasChanged();
        keywordgroupIds.Clear();
        keywordNames.Clear();
        SimilarArchivalItems.Clear();
        ArchivalItemID = archvialItemID;
        SelectedArchivalItem = await ArchivalRepository.GetArchivalItem(ArchivalItemID);
        ArchivalItemName = SelectedArchivalItem.ArchivalItemName;
        ArchivalItemReference = SelectedArchivalItem.ArchivalItemReference;
        Providences = await ProvidenceRepository.GetAllProvidencesByArchivalItemID(ArchivalItemID);
        if(Providences.Any())
        {
            isProvenanceCreated = true;
            CreatedProvidence = Providences.First();
            stored.setProvidenceID(CreatedProvidence.Id);
            FilteredProvenanceRecords = await ProvenanceRepository.GetAllProvenanceRecordsByProvidenceID(CreatedProvidence.Id);
        }
        else
        {
            ProvidenceModel.Id = Guid.NewGuid().ToString();
            ProvidenceModel.ArchivalItemID = ArchivalItemID;
        }
        stored.setArchivalItemID(ArchivalItemID);
        FilteredKeywordTagGroups = await KeywordTagGroupRepository.GetAllKeywordTagGroupsByArchivalItemID(ArchivalItemID);
        foreach (var group in FilteredKeywordTagGroups)
        {
            keywordNames.Add(group.keywordTagName);
        }
        foreach (var keyword in keywordNames)
        {
            TempKeywordTagGroups = await KeywordTagGroupRepository.GetAllKeywordTagGroupsByKeywordName(keyword);

            foreach (var keywordGroup in TempKeywordTagGroups)
            {

                if (!keywordgroupIds.Contains(keywordGroup.ArchivalItemID) && keywordGroup.ArchivalItemID != ArchivalItemID)
                {
                    keywordgroupIds.Add(keywordGroup.ArchivalItemID);
                }
            }

            foreach (var keywordGroupArchivalID in keywordgroupIds)
            {
                tempArchivalItem = await ArchivalRepository.GetArchivalItem(keywordGroupArchivalID);
                if (!SimilarArchivalItems.Any(prod => prod.Id == keywordGroupArchivalID))
                {
                    SimilarArchivalItems.Add(tempArchivalItem);
                }
            }
        }
        StateHasChanged();
        isArchivalItemSelected = true;
        if (radzenSimilarArchivalItemGrid != null)
        {
            await radzenSimilarArchivalItemGrid.Reload();
        }
        StateHasChanged();

    }

    public async void changeFilter()
    {
        isArchivalItemSelected = false;
        ArchivalItems = new List<ArchivalItemDTO>();
        keywordgroupIds.Clear();
        FilteredArchivalItems.Clear();
        if (keywordNamesFilterList != null)
        {
            if (keywordNamesFilterList.Any())
            {
                foreach (var keyword in keywordNamesFilterList)
                {
                    TempKeywordTagGroups = await KeywordTagGroupRepository.GetAllKeywordTagGroupsByKeywordName(keyword);

                    foreach (var keywordGroup in TempKeywordTagGroups)
                    {

                        if (!keywordgroupIds.Contains(keywordGroup.ArchivalItemID))
                        {
                            keywordgroupIds.Add(keywordGroup.ArchivalItemID);
                        }
                    }

                    foreach (var keywordGroupArchivalID in keywordgroupIds)
                    {
                        tempArchivalItem = await ArchivalRepository.GetArchivalItem(keywordGroupArchivalID);
                        if (!FilteredArchivalItems.Any(prod => prod.Id == keywordGroupArchivalID))
                        {
                            FilteredArchivalItems.Add(tempArchivalItem);
                        }
                    }
                }
                ArchivalItems = FilteredArchivalItems;
            }
            else
            {
                ArchivalItems = AllArchivalItems;
            }
        }
        else
        {
            ArchivalItems = AllArchivalItems;
        }
        StateHasChanged();
        if (radzenArchivalItemGrid != null)
        {
            await radzenArchivalItemGrid.Reload();
        }
        //await radzenSimilarArchivalItemGrid.Reload();
        StateHasChanged();

    }

    public async void changeFilterText()
    {
        isArchivalItemSelected = false;
        ArchivalItems = new List<ArchivalItemDTO>();
        keywordgroupIds.Clear();
        FilteredArchivalItems.Clear();
        if (TableSearch != null)
        {
            foreach (var item in AllArchivalItems)
            {

                if (item.ArchivalItemName.ToLower().Contains(TableSearch.ToLower()))
                {
                    FilteredArchivalItems.Add(item);
                }
            }

            ArchivalItems = FilteredArchivalItems;
        }
        else
        {
            ArchivalItems = AllArchivalItems;
        }

        if(TableSearch == "")
        {
            ArchivalItems = AllArchivalItems;
        }
        StateHasChanged();
        if (radzenArchivalItemGrid != null)
        {
            await radzenArchivalItemGrid.Reload();
        }
        //await radzenSimilarArchivalItemGrid.Reload();
        StateHasChanged();

    }

    private async Task HandleDelete(string archivalItemID)
    {
        DeleteID = archivalItemID;
        var DeleteEmployee = await ArchivalRepository.DeleteArchivalItem(DeleteID);
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private async Task HandleProvidenceDelete(string providenceID)
    {
        DeleteID = providenceID;
        var DeleteEmployee = await ProvenanceRepository.DeleteProvenanceRecord(DeleteID);
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

    private async Task ProvidenceHandlerUpsert()
    {
        try
        {
            if ((ProvidenceModel.Id != "") && Title == "Update")
            {
                //update
                var UpdateEmployee = await ProvidenceRepository.UpdateProvidence(ProvidenceModel.Id, ProvidenceModel);
            }

            else
            {
                var CreatedEmployee = await ProvidenceRepository.CreateProvidence(ProvidenceModel);
            }

            CreatedProvidence = ProvidenceModel;
            isProvenanceCreated = true;
            FilteredProvenanceRecords = await ProvenanceRepository.GetAllProvenanceRecordsByProvidenceID(CreatedProvidence.Id);

        }
        catch
        {

        }
    }

}
